*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background: #412CA3;
}

.menu{
    font-size: 60px;
    display: flex;
    margin-left: 1000px;
}

.complivros{
    width: 180px;
    position: relative;
    left: 200px;
    top: 50px;
}
.itemlista{
    color: rgb(255, 255, 255);
    margin-right: 60px;
   
}
.conteudoprincipal{
    background-image: linear-gradient(#412CA3, #7F72BC);
    color:aqua;
}
.imagem-alura{
    width: 350px;
    display: inline;
    position: relative;
    margin-left: 1500px;
}
.conteudo-grupo{
    padding-left: 300px;
    padding-top: 150px;
    font-size: 75px;
}
